h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: $primaryColor;
  background-color: $whiteColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  // @media screen and (min-width: 320px) {
  //   width: 320px;
  // }
  // @media screen and (min-width: 480px) {
  //   width: 450px;
  // }
  // @media screen and (min-width: 768px) {
  //   width: 354px;
  // }
  // @media screen and (min-width: 1200px) {
  //   width: 270px;
  // }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  @media screen and (min-width: 320px) {
    max-width: 320px;
  }
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
