@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap);

$primaryColor: #212121;
$secondaryColor: #757575;
$accentColor: #2196f3;
$logoColor: #000000;
$whiteColor: #ffffff;
$buttonsColor: #f5f4fa;
$addressColor: rgba(255, 255, 255, 0.6);
$buttonActive: #188ce8;
$heroColor: #2f303a;
$primaryTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
